*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font: inherit;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    appearance: button;
}

button,
select {
    text-transform: none;
}

button,
[role='button'] {
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
svg {
    vertical-align: middle;
}

table {
    border-color: inherit;
    border-collapse: collapse;
}

[hidden] {
    display: none !important;
}
